.root {
    -fx-background-color: #ffffff;
}

.header {
    -fx-alignment: center;
    -fx-background-color: rgba(143, 175, 133, 0.92);
    -fx-max-height: 100;
    -fx-min-height: 100;
}

.header-logo {
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
}

.tab-pane {
    -fx-background-color: rgba(194, 213, 187, 0.92);
    -fx-padding: 5;
}

.main-image {
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}
.main-center-pane {
    -fx-alignment: center;
    -fx-background-color: rgba(194, 213, 187, 0.92);
    -fx-min-width: 800;
    -fx-padding: 5;
}
.actuators-buttons {
    -fx-background-color: rgba(194, 213, 187, 0.92);
    -fx-padding: 5;
    -fx-spacing: 40;
    -fx-alignment: center;
    -fx-font-size: 14;
    -fx-font-weight: normal;
}
.button {
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-min-width: 150;
    -fx-max-width: 150;
}

.camera-scroll-pane{
    -fx-padding: 2;
    -fx-min-height: 300;
}
.sensor-pane{
    -fx-padding: 5;
    -fx-min-height: 100;
}
.actuator-pane{
    -fx-padding: 5;
    -fx-min-height: 200;
}
.camera-view{
    -fx-scale-x: 1;
    -fx-scale-y: 1;

}




